@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* MY STUFF GOES HERE */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 8px 16px;;
}

a:link {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  padding: 16px;
  justify-content: space-between;
}

.header,
.content,
.footer, 
.left-links,
.right-links {
  display: flex;
}

.left-links, 
.right-links {
  gap:16px;
}

.header,
.footer {
  justify-content: space-between;
}

.content {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.footer {
  background-color: #eeeeee;
}
